[Unit]
Description=Daily Keelchain backup

[Timer]
OnCalendar=*-*-* 04:20:00
RandomizedDelaySec=20min
Persistent=true

[Install]
WantedBy=timers.target
